<h1 class="mat-display-2 page-title">Questions Management</h1>

<div class="align-between">
    <button mat-raised-button color="accent" routerLink="/management">
        <mat-icon>
            subdirectory_arrow_left
        </mat-icon>
        Management
    </button>
    <button mat-raised-button color="accent" routerLink="/list">
        List
        <mat-icon>
            subdirectory_arrow_right
        </mat-icon>
    </button>
</div>

<div class="question-form-container">
    <app-question-create-edit-form [questionModel]="question" (onFormSubmit)="saveChanges($event)">
    </app-question-create-edit-form>
</div>